# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
out
gen
*.versionsBackup
/internal/v1_16_R1/
/internal/v1_16_R2/
